In [83]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import pickle

In [87]:
import os
data_path = os.path.join("data", "processed_brain_tumor_data.csv")
df = pd.read_csv(data_path)

In [67]:
df.head()

,Patient_ID,Age,Gender,Tumor_Type,Tumor_Size,Location,Histology,Stage,Symptom_1,Symptom_2,Symptom_3,Radiation_Treatment,Surgery_Performed,Chemotherapy,Survival_Rate,Tumor_Growth_Rate,Family_History,MRI_Result,Follow_Up_Required
0,1,73,Male,Malignant,5.375612,Temporal,Astrocytoma,III,Vision Issues,Seizures,Seizures,No,No,No,51.312579,0.111876,No,Positive,Yes
1,2,26,Male,Benign,4.847098,Parietal,Glioblastoma,II,Headache,Headache,Nausea,Yes,Yes,Yes,46.373273,2.165736,Yes,Positive,Yes
2,3,31,Male,Benign,5.588391,Parietal,Meningioma,I,Vision Issues,Headache,Seizures,No,No,No,47.072221,1.884228,No,Negative,No
3,4,29,Male,Malignant,1.436600,Temporal,Medulloblastoma,IV,Vision Issues,Seizures,Headache,Yes,No,Yes,51.853634,1.283342,Yes,Negative,No
4,5,54,Female,Benign,2.417506,Parietal,Glioblastoma,I,Headache,Headache,Seizures,No,No,Yes,54.708987,2.069477,No,Positive,Yes

In [68]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20000 entries, 0 to 19999
Data columns (total 19 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Patient_ID           20000 non-null  int64
 1   Age                  20000 non-null  int64
 2   Gender               20000 non-null  object
 3   Tumor_Type           20000 non-null  object
 4   Tumor_Size           20000 non-null  float64
 5   Location             20000 non-null  object
 6   Histology            20000 non-null  object
 7   Stage                20000 non-null  object
 8   Symptom_1            20000 non-null  object
 9   Symptom_2            20000 non-null  object
 10  Symptom_3            20000 non-null  object
 11  Radiation_Treatment  20000 non-null  object
 12  Surgery_Performed    20000 non-null  object
 13  Chemotherapy         20000 non-null  object
 14  Survival_Rate        20000 non-null  float64
 15  Tumor_Growth_Rate    20000 non-null  float64
 16  Family_History       20000 non-null  object
 17  MRI_Result           20000 non-null  object
 18  Follow_Up_Required   20000 non-null  object
dtypes: float64(3), int64(2), object(14)
memory usage: 2.9+ MB

In [69]:
df.describe()

,Patient_ID,Age,Tumor_Size,Survival_Rate,Tumor_Growth_Rate
count,20000.000000,20000.000000,20000.000000,20000.000000,20000.000000
mean,10000.500000,49.433700,5.236552,70.131699,1.547701
std,5773.647028,17.389296,2.754359,17.270834,0.835995
min,1.000000,20.000000,0.500410,40.002386,0.100017
25%,5000.750000,34.000000,2.836686,55.224439,0.830433
50%,10000.500000,49.000000,5.200675,70.305066,1.541821
75%,15000.250000,65.000000,7.624299,85.043395,2.262484
max,20000.000000,79.000000,9.999420,99.998125,2.999835

In [70]:
df.isnull().sum()

Patient_ID             0
Age                    0
Gender                 0
Tumor_Type             0
Tumor_Size             0
Location               0
Histology              0
Stage                  0
Symptom_1              0
Symptom_2              0
Symptom_3              0
Radiation_Treatment    0
Surgery_Performed      0
Chemotherapy           0
Survival_Rate          0
Tumor_Growth_Rate      0
Family_History         0
MRI_Result             0
Follow_Up_Required     0
dtype: int64

In [71]:
print(df['Symptom_1'].value_counts())
print(df['Symptom_2'].value_counts())
print(df['Symptom_3'].value_counts())

Symptom_1
Headache         5045
Seizures         5028
Nausea           4969
Vision Issues    4958
Name: count, dtype: int64
Symptom_2
Seizures         5054
Vision Issues    5019
Headache         4996
Nausea           4931
Name: count, dtype: int64
Symptom_3
Seizures         5027
Nausea           5012
Vision Issues    5007
Headache         4954
Name: count, dtype: int64

In [72]:
df = df.drop(['Patient_ID', 'Radiation_Treatment', 'Surgery_Performed',
              'Chemotherapy', 'Survival_Rate', 'Tumor_Growth_Rate',
              'MRI_Result', 'Follow_Up_Required', 'Stage'], axis=1)

In [73]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20000 entries, 0 to 19999
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Age             20000 non-null  int64
 1   Gender          20000 non-null  object
 2   Tumor_Type      20000 non-null  object
 3   Tumor_Size      20000 non-null  float64
 4   Location        20000 non-null  object
 5   Histology       20000 non-null  object
 6   Symptom_1       20000 non-null  object
 7   Symptom_2       20000 non-null  object
 8   Symptom_3       20000 non-null  object
 9   Family_History  20000 non-null  object
dtypes: float64(1), int64(1), object(8)
memory usage: 1.5+ MB

In [74]:
print(df['Histology'].value_counts())
print(df['Location'].value_counts())

Histology
Glioblastoma       5068
Meningioma         5016
Medulloblastoma    4979
Astrocytoma        4937
Name: count, dtype: int64
Location
Temporal     5118
Parietal     4990
Occipital    4967
Frontal      4925
Name: count, dtype: int64

In [75]:
categorical_features = df.select_dtypes(include=["object"]).columns
print("Categorical Features:", categorical_features)

Categorical Features: Index(['Gender', 'Tumor_Type', 'Location', 'Histology', 'Symptom_1',
       'Symptom_2', 'Symptom_3', 'Family_History'],
      dtype='object')

In [76]:
categorical_features = ['Gender', 'Location', 'Histology', 'Symptom_1','Symptom_2', 'Symptom_3', 'Family_History']

In [77]:
df[categorical_features] = df[categorical_features].astype(str)

In [78]:
from sklearn.preprocessing import OneHotEncoder

encoder = OneHotEncoder(sparse_output=False)
one_hot_encoded = encoder.fit_transform(df[categorical_features])
one_hot_df = pd.DataFrame(one_hot_encoded, columns=encoder.get_feature_names_out(categorical_features))
df_encoded = pd.concat([df, one_hot_df], axis=1)
df = df_encoded.drop(categorical_features, axis=1)
print(f"Encoded data : \n{df}")

Encoded data :
       Age Tumor_Type  Tumor_Size  Gender_Female  Gender_Male  \
0       73  Malignant    5.375612            0.0          1.0
1       26     Benign    4.847098            0.0          1.0
2       31     Benign    5.588391            0.0          1.0
3       29  Malignant    1.436600            0.0          1.0
4       54     Benign    2.417506            1.0          0.0
...    ...        ...         ...            ...          ...
19995   21  Malignant    9.612013            0.0          1.0
19996   32     Benign    1.543560            1.0          0.0
19997   57     Benign    3.618634            1.0          0.0
19998   68  Malignant    8.519086            0.0          1.0
19999   61     Benign    9.716768            0.0          1.0

       Location_Frontal  Location_Occipital  Location_Parietal  \
0                   0.0                 0.0                0.0
1                   0.0                 0.0                1.0
2                   0.0                 0.0                1.0
3                   0.0                 0.0                0.0
4                   0.0                 0.0                1.0
...                 ...                 ...                ...
19995               0.0                 0.0                1.0
19996               0.0                 0.0                0.0
19997               0.0                 0.0                0.0
19998               0.0                 0.0                1.0
19999               0.0                 0.0                0.0

       Location_Temporal  Histology_Astrocytoma  ...  Symptom_2_Headache  \
0                    1.0                    1.0  ...                 0.0
1                    0.0                    0.0  ...                 1.0
2                    0.0                    0.0  ...                 1.0
3                    1.0                    0.0  ...                 0.0
4                    0.0                    0.0  ...                 1.0
...                  ...                    ...  ...                 ...
19995                0.0                    0.0  ...                 0.0
19996                1.0                    0.0  ...                 1.0
19997                1.0                    0.0  ...                 0.0
19998                0.0                    0.0  ...                 1.0
19999                1.0                    0.0  ...                 0.0

       Symptom_2_Nausea  Symptom_2_Seizures  Symptom_2_Vision Issues  \
0                   0.0                 1.0                      0.0
1                   0.0                 0.0                      0.0
2                   0.0                 0.0                      0.0
3                   0.0                 1.0                      0.0
4                   0.0                 0.0                      0.0
...                 ...                 ...                      ...
19995               1.0                 0.0                      0.0
19996               0.0                 0.0                      0.0
19997               0.0                 0.0                      1.0
19998               0.0                 0.0                      0.0
19999               0.0                 1.0                      0.0

       Symptom_3_Headache  Symptom_3_Nausea  Symptom_3_Seizures  \
0                     0.0               0.0                 1.0
1                     0.0               1.0                 0.0
2                     0.0               0.0                 1.0
3                     1.0               0.0                 0.0
4                     0.0               0.0                 1.0
...                   ...               ...                 ...
19995                 0.0               0.0                 0.0
19996                 0.0               0.0                 0.0
19997                 0.0               1.0                 0.0
19998                 0.0               0.0                 0.0
19999                 0.0               1.0                 0.0

       Symptom_3_Vision Issues  Family_History_No  Family_History_Yes
0                          0.0                1.0                 0.0
1                          0.0                0.0                 1.0
2                          0.0                1.0                 0.0
3                          0.0                0.0                 1.0
4                          0.0                1.0                 0.0
...                        ...                ...                 ...
19995                      1.0                1.0                 0.0
19996                      1.0                1.0                 0.0
19997                      0.0                1.0                 0.0
19998                      1.0                1.0                 0.0
19999                      0.0                0.0                 1.0

[20000 rows x 27 columns]

In [86]:
with open('encoder.pkl', 'wb') as encoder_file:
    pickle.dump(encoder, encoder_file)

In [82]:
df.columns

Index(['Age', 'Tumor_Type', 'Tumor_Size', 'Gender_Female', 'Gender_Male',
       'Location_Frontal', 'Location_Occipital', 'Location_Parietal',
       'Location_Temporal', 'Histology_Astrocytoma', 'Histology_Glioblastoma',
       'Histology_Medulloblastoma', 'Histology_Meningioma',
       'Symptom_1_Headache', 'Symptom_1_Nausea', 'Symptom_1_Seizures',
       'Symptom_1_Vision Issues', 'Symptom_2_Headache', 'Symptom_2_Nausea',
       'Symptom_2_Seizures', 'Symptom_2_Vision Issues', 'Symptom_3_Headache',
       'Symptom_3_Nausea', 'Symptom_3_Seizures', 'Symptom_3_Vision Issues',
       'Family_History_No', 'Family_History_Yes'],
      dtype='object')

In [79]:
df.head()

,Age,Tumor_Type,Tumor_Size,Gender_Female,Gender_Male,Location_Frontal,Location_Occipital,Location_Parietal,Location_Temporal,Histology_Astrocytoma,...,Symptom_2_Headache,Symptom_2_Nausea,Symptom_2_Seizures,Symptom_2_Vision Issues,Symptom_3_Headache,Symptom_3_Nausea,Symptom_3_Seizures,Symptom_3_Vision Issues,Family_History_No,Family_History_Yes
0,73,Malignant,5.375612,0.0,1.0,0.0,0.0,0.0,1.0,1.0,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
1,26,Benign,4.847098,0.0,1.0,0.0,0.0,1.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
2,31,Benign,5.588391,0.0,1.0,0.0,0.0,1.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
3,29,Malignant,1.436600,0.0,1.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
4,54,Benign,2.417506,1.0,0.0,0.0,0.0,1.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0

In [80]:
# Save DataFrame to a CSV file
df.to_csv('processed_brain_tumor_data.csv', index=False)

In [81]:
import os
print(os.listdir())  # Lists all files in the directory to confirm the CSV was saved

['.idea', 'app', 'data', 'model', 'processed_brain_tumor_data.csv']